
html{
    font-size: 20px;
   }
body{
   background-color: rgb(4, 5, 6);
   color: rgb(241, 238, 239);
   }
a{
   color: hotpink;
}

a:visited{
   color: azure;

}

a:hover,a:active{
   color: black;
}