
html{
    font-size: 20px;
   }
body{
   background-color: rgb(255, 119, 180);
   color: rgb(250, 247, 249);
   }
a{
   color: rgb(244, 243, 243);
}

a:visited{
   color: azure;

}

a:hover,a:active{
   color: black;
}